<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kitob</title>
    <style>
          body {
              background-color: #333;
              color: #fff;
          }
          a {
              color: #ddd;
              text-decoration: none;
          }
          a:hover {
              color: #fff;
          }
    </style>
</head>
<body>
      <h1>{{ kitob.nom }}</h1>
      <hr>
      <p>Muallifi: {{ kitob.muallif }}</p>
      <p>Janri: {{ kitob.janr }}</p>
      <p>Sahifasi: {{ kitob.sahifa }}</p>
      <p>Annotatsiya: {{ kitob.annotatsiya }}</p>
      <a href="/kitoblar/">Ortga</a>
</body>
</html>