<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kitoblar</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        a {
            color: #ddd;
            text-decoration: none;
        }
        a:hover {
            color: #fff;
        }
    </style>
</head>
<body>
<h1>Kitoblar ro'yxati</h1>
<a href="/">Bosh sahifa</a>
<hr>
{% for kitob in kitoblar %}
<p>{{ forloop.counter }}.
    <a href="/kitoblar/{{ kitoblar.id }}/">{{ kitob.nom }}</a>
    <a href="/kitoblar/{{ kitoblar.id }}/tahrirlash/">
        <button>Tahrirlash</button>
    </a>
    <a href="/kitoblar/{{ kitoblar.id }}/o'chirish/tasdiqlash/">
        <button>O'chirish</button>
    </a>
<p>
    {% endfor %}
<hr>
<a href="/kitob_qoshish/">
    <button>Yangi kitob</button>
</a>
</body>
</html>