<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Muallif</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        a {
            color: #ddd;
            text-decoration: none;
        }
        a:hover {
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>{{ muallif.ism }}</h1>
    <hr>
    <p>Davlati: {{ muallif.davlat }}</p>
    <p>Kitob soni: {{ muallif.kitob_soni }}</p>
    <p>Tug'ilgan sanasi: {{ muallif.t_sana }}</p>
    <p>Tirik: {{ muallif.tirik }}</p>
    <p>Jinsi: {{ muallif.jins }}</p>
    <a href="/mualliflar/">Ortga</a>
</body>
</html>