<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Mualliflar</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        a {
            color: #ddd;
            text-decoration: none;
        }
        a:hover {
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Mualliflar ro'yxati</h1>
    <a href="/">Bosh sahifa</a>
    <hr>
    {% for muallif in mualliflar %}
        <p>{{ forloop.counter }}.
            <a href="/mualliflar/{{ muallif.id }}/">{{ muallif.ism }}</a>
        </p>
    {% endfor %}
    <hr>
<h2>Yangi muallif qo'shish</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Qo'shish</button>
</form>
</body>
</html>