<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Recordlar</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
        }
        a {
            color: #ddd;
            text-decoration: none;
        }
        a:hover {
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Recordlar ro'yxati</h1>
    <a href="/">Bosh sahifa</a>
    <hr>
    {% for record in recordlar %}
        <p>{{ forloop.counter }}.
            <a href="/recordlar/">{{ record }}</a>
        </p>
    {% endfor %}
</body>
</html>