<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Talaba | Tahrirlash</title>
</head>
<body>
    <h1>{{ talaba.ism }} ma'lumotlarini o'zgartirish</h1>
    <hr>
    <form method="post">
      {% csrf_token %}
      <label>Ism:</label>
      <input type="text" name="ism" value="{{ talaba.ism }}" required>
      <br><br>
      <label>Kurs:</label>
      <input type="number" name="kurs" value="{{ talaba.kurs }}" required>
      <br><br>
      <label>Guruh:</label>
      <input type="text" name="guruh" value="{{ talaba.guruh }}" required>
      <br><br>
      <label>Yosh:</label>
      <input type="number" name="yosh" value="{{ talaba.yosh }}" required>
      <br><br>
      <label>Kitob soni:</label>
      <input type="number" name="kitob_soni" value="{{ talaba.kitob_soni }}" required>
      <br><br>
      <button>Tasdiqlash</button>
    </form>
</body>
</html>